# =========================
# GENERAL
# =========================
*.log
*.tmp
*.temp
*.swp
*.pyc
*.class
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# =========================
# FLUTTER / DART
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# =========================
# ANDROID
# =========================
android/.gradle/
android/app/build/
android/app/debug
android/app/profile
android/app/release

# =========================
# IOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# =========================
# DESKTOP
# =========================
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# =========================
# WEB
# =========================
web/.dart_tool/

# =========================
# FVM
# =========================
.fvm/

# =========================
# LARGE / DANGEROUS FILES
# =========================
*.txt
*.zip
*.rar
*.7z
*.tar
*.gz
*.mp4
*.mov
*.avi

# =========================
# CACHE / TEMP
# =========================
.cache/
tmp/
temp/